html 
head
  title Persona  
body
  h1 Actualizar Persona
  form(action="/actualizar-persona", method="POST")
    label(for="id") Id:
    input(type="text", name="id", value=persona._id)
    label(for="nombre") Nombre:
    input(type="text", name="nombre", value=persona.nombre)
    label(for="edad") Edad:
    input(type="number", name="edad", value=persona.edad)
    label(for="nacionalidad") Nacionalidad:
    input(type="text", name="nacionalidad", value=persona.nacionalidad)
    button(type="submit") Actualizar Persona
  p #{persona._id}