html 
head
  title #{operaci贸n} persona  
body
  h1 #{operaci贸n} persona
  form(action=acci贸n, method="POST")
    label(for="id") Id:
    input(type="text", name="id", value=persona._id)
    br
    br
    label(for="nombre") Nombre:
    input(type="text", name="nombre", value=persona.nombre)
    br
    br
    label(for="edad") Edad:
    input(type="number", name="edad", value=persona.edad)
    br
    br
    label(for="nacionalidad") Nacionalidad:
    input(type="text", name="nacionalidad", value=persona.nacionalidad)
    br
    br
    button(type="submit") #{operaci贸n} persona
